/** @format */
[/* Tab Navigation*/
  data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

/* Place Holder */
#booking-container {
  height: 50rem;
}
.placeholder-title {
  padding-top: 5rem;
}

/* General Content*/
.content {
  transform: scale(0.9);
}
body {
  background-image: url('library.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.card {
  padding: 1rem;
}

/* TABLES */
#book-thead th,
#book-tbody td {
  width: 30%;
}
#name {
  width: 30%;
  max-width: 20%;
}
#id {
  width: 10%;
  max-width: 10%;
}
#memberth {
  width: 40%;
}
#returnh {
  font-size: 0.9;
  padding-left: 5px;
  padding-right: 1px;
  padding-top: 16px;
  width: 15%;
}
#return {
  padding-left: 5px;
  padding-right: 1px;
  padding-top: 7px;
  width: 15%;
}
#titleth {
  width: 40%;
  text-align: start;
  padding-left: 0px;
}
#return-stateth {
  width: 15%;
  text-align: center;
  padding-right: 5px;
  max-width: 15%;
}
#return-state {
  width: 15%;

  padding-right: 10px;
  max-width: 15%;
}
#titl {
  width: 40%;
  max-width: 40%;
}
#isbm {
  width: 10%;
  max-width: 10%;
}

#members-thead th,
#members-tbody td {
  width: 30%;
}
.td-icon {
}
.table.fixed-head tbody {
  height: 25rem !important;
}
/*Fonts*/
#book-title,
#book-author,
#book-isbm,
#book-edit-title,
#book-edit-author,
#book-edit-isbm,
#search,
.member-address {
  font-size: 1rem;
}
.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
td {
  font-size: 0.9rem;
}

/*Icons*/
.fa-edit,
.fa-trash,
.fa-info-circle,
.fa-question-circle,
.tag-info {
  cursor: pointer;
}
.fa-info-circle {
  color: rgba(61, 170, 243, 0.719) !important;
}
.fa-info-circle:hover {
  color: rgb(61, 170, 243) !important;
}
.fa-edit:hover {
  color: #0dd157 !important;
}
.fa-trash {
  color: rgba(255, 100, 100, 0.719);
  padding-right: 0.5rem;
}
.fa-exclamation-triangle {
  transform: scale(10);
}
.fa-trash:hover {
  color: red;
}
.fa-edit {
  color: #0dd158ad !important;
}

.hover-grow:hover {
  transform: scale(1.25) !important;
  transition-duration: 0.4s !important;
}
/* Modals */
.modal-footer-btn {
  display: inline-block;
}

/* Buttons */
.btn-return {
  font-weight: bold;
  color: rgba(36, 35, 35, 0.747) !important;
  background-color: rgba(230, 227, 227, 0.733) !important;
}
.btn-return:hover {
  color: #0dd158fb !important;
  background-color: rgba(230, 227, 227, 0.733) !important;
}
.tag-info {
  background-color: #2972faaf !important;
  color: white !important;
}
.tag-info:hover {
  background-color: #2972fa !important;
  color: white !important;
}
.btn-primary {
  font-size: 14px !important;
}
