/** @format */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// GENERAL CONTENT
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* Tab Navigation*/
[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

@media screen and (min-width: 1024px) {
  .card {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 768px) {
  td {
    font-size: 13px !important;
  }
  th {
    font-size: 14px !important;
  }
}

body {
  background-image: url('library.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.card {
  padding: 1rem;
}
/* Modals */
.modal-footer-btn {
  display: inline-block;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// TABLES
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
td,
th {
  padding: 12px !important;
}
.table.fixed-head tbody {
  height: 25rem !important;
}
tr:hover {
  background-color: rgba(226, 225, 225, 0.685) !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// FONTS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#book-title,
#book-author,
#book-isbm,
#book-edit-title,
#book-edit-author,
#book-edit-isbm,
#search,
.member-address {
  font-size: 1rem;
}
.title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
td {
  font-size: 0.9rem;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// ICONS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.tag,
.fa-question-circle,
.fa-info-circle {
  cursor: help;
}
.fa-info-circle {
  color: rgba(61, 170, 243, 0.719) !important;
}
.fa-info-circle:hover {
  color: rgb(61, 170, 243) !important;
}
.hover-grow:hover {
  transform: scale(1.25) !important;
  transition-duration: 0.4s !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// BUTTONS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.fa-edit,
.fa-trash,
.fa-copy {
  cursor: pointer;
}
.fa-edit {
  padding-right: 15px !important;
  color: #0dd158ad !important;
}
.fa-edit:hover {
  color: #0dd157 !important;
}
.fa-trash {
  color: rgba(255, 100, 100, 0.719);
}
.fa-trash:hover {
  color: red;
}
.btn-return {
  font-weight: bold;
  color: rgba(58, 58, 58, 0.719) !important;
  background-color: rgba(230, 227, 227, 0.733) !important;
  transition-duration: 0.6s !important;
}
.btn-return:hover {
  color: white!important;
  background-color: rgba(71, 71, 71, 0.842) !important;
}
.tag-info {
  background-color: #2972faaf !important;
  color: white !important;
}
.tag-info:hover {
  background-color: #2972fa !important;
  color: white !important;
}
.btn-primary {
  font-size: 14px !important;
}
.fa-copy:hover{
  color: #2972faaf !important;
}
.fa-copy{
  padding-right: 0.2rem !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// FIXES
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*Fixes alignment when vertical scroll bar appears and moves the tbody
away from the fixed thead in all tables*/
tbody {
  overflow: -moz-scrollbars-vertical !important;
  overflow-y: scroll !important;
}
.member-address-th {
  width: 1% !important;
  padding-right: 2rem !important;
}
.member-address {
  width: 1% !important;
}
.options-th {
  padding-right: 2.8rem !important;
  width: 1% !important;
}
.options-td {
  width: 1% !important;
}
#options-icons {
  display: inline-flex !important;
  padding-top: 0.3rem;
}
th,
td {
  width: 30%;
}
#id-td {
  width: 1% !important;
}
#booking-book-th {
  padding-right: 7.3rem !important;
}
#booking-isbm-th {
  width: 1% !important;
}
#return-state-th {
  width: 1% !important;
  text-align: center;
  padding-right: 0.9rem !important;
  padding-left: 0.9rem !important;
}
#return-state-td {
  width: 1% !important;
}
#return-th {
  padding-right: 5.8rem !important;
  width: 1%;
}
#return-btn-td {
  padding-top: 7px !important;
  width: 1% !important;
  height: 1% !important;
}
#return-btn-td,
#return-state-td,
#booking-isbm-th,
#id-td {
  vertical-align: start;
}
/* Removes x from search bar*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }