/** @format */

.content {
  padding-top: 1.5rem;
}
body {
  background-image: url('/img/library.jpg');
  background-size: cover;
  background-attachment: fixed;
}

td {
  max-width: 0rem;
  width: 30%;
}

th {
  width: 30%;
}

.td-small {
  text-align: right;
  width: 10%;
  padding: 0;
}

.card {
  padding: 1rem;
}

.table.fixed-head tbody {
  height: 25rem !important;
}
.title{
  padding-top: 2rem;
}
.modal-footer-btn{
  display: inline-block;
}

/*Fonts*/
#book-title, 
#book-author,
#book-isbm,
#book-edit-title,
#book-edit-author,
#book-edit-isbm,
#search{
  font-size: 1rem;
}

/*Icons*/
.fa-edit,
.fa-trash {
  cursor: pointer;
}
.fa-trash {
  color: red;
}
.hover-grow:hover {
  transform: scale(1.25) !important;
  transition-duration: .40s !important;
}
data-tooltip {
  position:absolute;
}
